/ConsoleApplication1/obj
/ConsoleApplication1/_ReSharper.ConsoleApplication1
/ConsoleApplication1/_ReSharper.GoBang
/ConsoleApplication1/bin
/ConsoleApplication1/TestResults
/ConsoleApplication1/*.user
/GoBangTest/obj
/GoBangTest/bin
